# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage/*
!coverage/badge-statements.svg
!coverage/badge-lines.svg
!coverage/badge-functions.svg
!coverage/badge-branches.svg

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store